/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme-light {
  --background-color: #FFF1F7;
  --accent-color: #ff0070;
  --current-color: #353430;  
  --heading-color: #FFC2E6;
  --bg-color: #ffeef6;
  --text-shadow: 2px 2px 0 #FF8DCB;
  --current-font: "IBM Plex mono", Sans-serif;
  --padding-page: 0 20px;
  --accentuate-color: #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --accent-color: #ff0070;
    --current-color: #353430;
    --heading-color: #FFC2E6;
    --bg-color: #ffeef6;
    --text-shadow: 2px 2px 0 #FF8DCB;
    --current-font: "IBM Plex mono", Sans-serif;
    --padding-page: 0 20px;
    --accentuate-color: #ff8dcb;
  }
}