/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

body {
  color: var(--current-color);
  background-color: var(--background-color);
}

.decorated-zone {
  background-image: url('../images/cover-image-light.png');
}

.corner-right::before {
  border-top: 1px solid var(--current-color);
  border-right: 1px solid var(--current-color);
}

.corner-left::after {
  border-bottom: 1px solid var(--current-color);
  border-left: 1px solid var(--current-color);
}

h1 {
  text-shadow: var(--text-shadow);
  color: var(--heading-color);
}

.header__theme-menu-button  {
  color: var(--current-color);
}

.header__text {
  background-color: var(--accentuate-color);
  color: var(--current-color);
}

.description {
  background-color: var(--accentuate-color);
}

.question__description_link {
  text-shadow: var(--text-shadow);
}

.focus__name {
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

/* Состояния кнопок */

.header__theme-menu-button_active  {
  outline: 1px solid var(--current-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.40);
}

.header__theme-menu-button:focus, .question__description_link {
  outline: 1px solid transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--current-color);
}

.question__description_link:hover {
  border-bottom: 1px solid var(--current-color);
}

.question__description_link:focus-visible {
  outline: 1px solid var(--current-color);
}