/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.focus__name {
  text-shadow: var(--text-shadow);
  color: var(--heading-color);
}

.header__theme-menu-button  {
  color: var(--current-color);
}

.header__text {
  background-color: var(--accentuate-color);
  color: var(--current-color);
}

.question__description_name {
  background-color: var(--accentuate-color);
}

.question__description_link {
  text-shadow: var(--text-shadow);
}

/* Состояния кнопок */

.header__theme-menu-button_active  {
  outline: 1px solid var(--current-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.40);
}

.header__theme-menu-button:focus, .question__description_link {
  outline: 1px solid transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--current-color);
}

.question__description_link:hover {
  border-bottom: 1px solid var(--current-color);
}

.question__description_link:focus-visible {
  outline: 1px solid var(--current-color);
}

/* REC */

.header__rec {
  display: none;
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: url('../images/cover-image-light.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  min-height: 668px;
  height: 100vh;
}

/* @media (max-width: 768px) {
  .header {
    min-height: 121.5vh;
  }
}

@media (max-width: 375px) {
  .header {
    min-height: 79.5vh;
  }
} */

.decorated-zone {
  position: relative;
}

.header::before, .focus::before {
  display: block;
  content: "";
  inline-size: 25px;
  block-size: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  border-top: 1px solid var(--current-color);
  border-right: 1px solid var(--current-color);
}

.header::after, .focus::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  border-bottom: 1px solid var(--current-color);
  border-left: 1px solid var(--current-color);
}

@media (max-width: 464px) {
  .header::after, .header::before {
    left: 10px;
    bottom: 10px;
  }
}

.focus__name {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.29;
}
  
.focus-header {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-block-start: 238px;
}

@media (max-width: 768px) {
  .focus-header {
    padding-block-start: 147px;
  }
}

@media (max-width: 464px) {
  .focus-header {
    padding-block-start: 80px;
  }
}

@media (max-width: 375px) {
  .focus__name {
    font-size: 116px;
    line-height: 0.8;
  }

  .focus-header {
    padding-block-start: 71px;
    padding-inline-start: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-block-start: 22px;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
    text-align: right;
    gap: 13px;
    padding-block-start: 185px;
    margin-inline-end: 26px;
  }
} 

@media (max-width: 464px) {
  .header__theme-menu-list {
    padding-block-start: 100px;
    margin-inline-end: 16px;
    }
}

@media (max-width: 375px) {
  .header__theme-menu-list {
    padding-block-start: 75px;
    }
}

.header__theme-menu-button {
  text-align: center;
  font-family: var(--current-color);
  line-height: 1;
  background-color: transparent;  
  border: 1px solid transparent;
  text-transform: lowercase;
  padding: 2px 10px;
  cursor: pointer;
}

.header__text {
  width: clamp(22.75rem, -1.063rem + 49.61vw, 30.688rem);
  float: right;
  font-family: var(--current-font);
  font-weight: 700;
  line-height: 1.3;
  margin-inline-end: 20px;
  margin-block-start: 76px;
}

@media (max-width: 768px) {
  .header__text {
    margin-block-start: 0h;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
  }
}

@media (max-width: 375px) {
  .header__text {
    max-width: 355px;
    margin-block-start: 7vh;
  }
}

/* секция  ( Почему сосредоточиться так сложно ) */

.question {
  display: grid;
  grid-template-columns: minmax(236px, 314px) 1fr;
  box-sizing: border-box;
  padding: var(--padding-page);
}

@media (max-width: 768px) {
  .question {
    grid-template-columns: 236px 1fr;
  }
}

@media (max-width: 600px) {
  .question {
    grid-template-columns: 1fr;
  }
}
  
.question-sizes {
  padding-block-start: 59px;
}

@media (max-width:375px) {
  .question-sizes {
    padding-block-start: 40px;
  }
}
 
.question_name {
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

@media (max-width: 464px) {
  .question_name{
    padding-block-end: 20px;
  }
}

.question__description {
  padding-inline-start: 20px;
}

@media (max-width: 600px) {
  .question__description{
    padding-inline-start: 0;
  }
}

.question__description_name {
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.question__description_text {
  color: inherit;
  font-family: inherit;
  line-height: 1.3;
  padding: 10px 0 20px;
}

.question__description_text:last-child {
  padding: 10px 0 0;
}

/* секция  ( Что снижает концентрацию внимания? ) */

.concentration {
  margin: 79px auto;
  padding: var(--padding-page);
}

@media (max-width: 464px) {
  .concentration {
    margin: 20px auto;
  }
}

@media (max-width: 375px) {
  .concentration {
    margin: 10px auto;
  }
}

@media (max-width: 464px) {
  .concentration, .picture, .question {
    --padding-page: 10px;
  }
}

.concentration .question_name {
  width: clamp(14.75rem, -0.063rem + 30.86vw, 19.688rem);
  padding-block-end: 20px;
}

@media (max-width: 464px) {
  .concentration .question_name  {
    width: 100%;
  }
}

.concentration__description {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 768px) {
  .concentration__description {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

/* секция  ( Как концентрироваться лучше, чем золотая рыбка (то есть дольше трёх секунд) ) */

.mb20 {
  margin-bottom: 20px;
}

.question__description_link {
  text-decoration: none;
}

/* секция  ( А можно в картинках? ) */

.picture {
  margin-top: 80px;
  padding: var(--padding-page);
}

@media (max-width: 464px) {
  .picture {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .picture {
    margin-top: 9px;
  }
}

.picture .question__description_name {
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .picture .question__description_name {
    margin-bottom: 11px;
  }
}

.picture__container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(229px, 315px));
  grid-template-rows: 260px 315px 428px;
  grid-template-areas: 
  "sunset sunset cream"
  "cassettes books cream"
  "cassettes street street";
  gap: 20px;
}

@media (max-width: 768px) {
  .picture__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
  }
}

@media (max-width: 464px) {
  .picture__container {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 142px 355px 237px 355px 237px;
    grid-template-areas: 
    "sunset"
    "cream"
    "cassettes"
    "books"
    "street";
    gap: 10px;
  }
}

.picture__container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  justify-self: center;
}
 
.sunset {
  grid-area: sunset;
}
.cream {
  
  grid-area: cream;
}
.cassettes {
  grid-area: cassettes;
}
.books {
  grid-area: books;
}
.street {
  grid-area: street;
}
 
.sunset {
  background-image: url('../images/sunset.png');
}
.cream {
  background-image: url('../images/ice-cream.png');
}
.cassettes {
  background-image: url('../images/tape.png');
}
.books {
  background-image: url('../images/books.png');
}
.street {
  background-image: url('../images/street.png');
}

/* секция  ( focus ) */

.focus {
  width: 100%;
  min-height: 668px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  margin-block-start: 70px;
}

@media (max-width: 768px) {
  .focus {
    height: 1141px;
  }
  .focus::before{
    top: 78px;
  }
  .focus::after{
    bottom: 79px;
  }
}

@media (max-width: 375px) {
  .focus {
    height: 730px;
  }

  .focus::before{
    top: 40px;
  }

  .focus::after{
    bottom: 43px;
  }
}

/* Стили для тёмной темы */

.theme_dark .header__theme-menu-list {
  gap: 14px;
}

.theme_dark .question__description_name {
  background-color: var(--current-color);
  color: var(--background-color);
}

.theme_dark .question-sizes {
  padding-block-start: 0;
}

.theme_dark .question__description_text {
  color: #F1B2CE;
}

.theme_dark .question__description_text:last-child {
  padding: 10px 0 0;
}



/* Состояния кнопок */

.theme_dark .header__theme-menu-button_active  {
  outline: 1px solid var(--current-color);
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

.theme_dark .header__theme-menu-button:focus, .question__description_link {
  outline: 1px solid transparent;
}

.theme_dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--current-color);
}

.question__description_link:hover {
  border-bottom: 1px solid #F1B2CE;
}

.theme_dark .question__description_link:focus-visible {
  outline: 1px solid #F1B2CE;
}

/* REC */

.theme_dark .header__rec {
  position: absolute;
  display: flex;
  align-items: center;
  color: var(--current-color);
  text-transform: uppercase;
  top: 24px;
  right: 29px;
  }
  
  .theme_dark .header__rec::after {
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    color: var(--current-color);
    background-color: var(--current-color);
    border-radius: 100px;
    box-shadow: 0px 0px 4px var(--current-color);
    filter: drop-shadow(0px 0px 4px var(--current-color));
    margin-inline-start: 10px;
}